[submodule "app/components/chart"]
	path = app/components/chart
	url = https://github.com/kaukana0/chart.git
[submodule "app/components/dropdownBox"]
	path = app/components/dropdownBox
	url = https://github.com/kaukana0/dropdownBox.git
[submodule "app/components/metaTags"]
	path = app/components/metaTags
	url = https://github.com/kaukana0/metaTags.git
[submodule "app/components/pipeline"]
	path = app/components/pipeline
	url = https://github.com/kaukana0/pipeline.git
[submodule "app/components/processorCountries"]
	path = app/components/processorCountries
	url = https://github.com/kaukana0/processorCountries.git
[submodule "app/components/navBar"]
	path = app/components/navBar
	url = https://github.com/kaukana0/navBar.git
[submodule "app/components/titleLines"]
	path = app/components/titleLines
	url = https://github.com/kaukana0/titleLines.git
[submodule "app/components/footerLines"]
	path = app/components/footerLines
	url = https://github.com/kaukana0/footerLines.git
[submodule "app/components/l10n"]
	path = app/components/l10n
	url = https://github.com/kaukana0/l10n.git
[submodule "app/components/range"]
	path = app/components/range
	url = https://github.com/kaukana0/range.git
[submodule "app/components/processorCountryNames"]
	path = app/components/processorCountryNames
	url = https://github.com/kaukana0/processorCountryNames.git
[submodule "app/components/processorCountryOrder"]
	path = app/components/processorCountryOrder
	url = https://github.com/kaukana0/processorCountryOrder.git
[submodule "app/components/util"]
	path = app/components/util
	url = https://github.com/kaukana0/util.git
[submodule "app/components/processorCountryColors"]
	path = app/components/processorCountryColors
	url = https://github.com/kaukana0/processorCountryColors.git
[submodule "app/components/dataGenerator"]
	path = app/components/dataGenerator
	url = https://github.com/kaukana0/dataGenerator.git
[submodule "app/components/multiDimAccess"]
	path = app/components/multiDimAccess
	url = https://github.com/kaukana0/multiDimAccess.git
