[submodule "app/components/chart"]
	path = app/components/chart
	url = https://github.com/kaukana0/chart.git
[submodule "app/components/dropdownBox"]
	path = app/components/dropdownBox
	url = https://github.com/kaukana0/dropdownBox.git
[submodule "app/components/metaTags"]
	path = app/components/metaTags
	url = https://github.com/kaukana0/metaTags.git
[submodule "app/components/pipeline"]
	path = app/components/pipeline
	url = https://github.com/kaukana0/pipeline.git
[submodule "app/components/processorCountries"]
	path = app/components/processorCountries
	url = https://github.com/kaukana0/processorCountries.git
[submodule "app/components/processorCountryValues"]
	path = app/components/processorCountryValues
	url = https://github.com/kaukana0/processorCountryValues.git
[submodule "app/components/navBar"]
	path = app/components/navBar
	url = https://github.com/kaukana0/navBar.git
[submodule "app/components/titleLines"]
	path = app/components/titleLines
	url = https://github.com/kaukana0/titleLines.git
[submodule "app/components/footerLines"]
	path = app/components/footerLines
	url = https://github.com/kaukana0/footerLines.git
[submodule "app/components/l10n"]
	path = app/components/l10n
	url = https://github.com/kaukana0/l10n.git
