/*project specific adaptations*/

/*
decrease height on small width to give room to the legend below.
mostly determined empirically :-/

see also iframeResize.mjs

*/



/* rows 2+3+4+6+7+8 = 44% height */

/* for narrow, until 576 */
@media (max-width: 576px) {
  #chartcontainer {
    height:64%; /* row 5*/
  }
  #chart {
    min-height: 90%;
  }
  span.bb-legend-item {
    margin-top: 0px;
  }
}


/* rows 2+3+4+6+7+8 = 40%   (row 2 goes smaller below 768px) */

/* from 576 onwards */
@media (min-width: 576px) {
  #chartcontainer {
    height:80%;
  }
  #chart {
    height: 100%;
  }
}

@media (min-width: 1235px) {
  #chartcontainer {
    max-height:35%;
  }
  #chart {
    height: 100%;
  }
}

@media (min-width: 1550px) {
  #chartcontainer {
    max-height:45%;
  }
  #chart {
    height: 100%;
  }
}

.modal-title {
  font-size: 2rem;
}

.legendItemColor {
	display: inline-block;
	height: 26px;
	width: 26px;
}
