div.row {
    outline-style: dashed;
    outline-width: 1px;
    overflow: hidden;
}

div.row:nth-child(odd) {
    background-color: aliceblue;
}

div.row:nth-child(even) {
    background-color: antiquewhite;
}

* {
    outline: 1px solid red;
}