html {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

body {
    background-color: #ffffff;
}

html, body {
    height: 100dvh;
    width: 100%;
    margin:0;
}

.selectBoxMultiselect {
    float: right;
}

.boxTitle {
    font-weight: bold;
}

#legallinks {
    text-align: right;
    margin-right: 5%;
    max-height: 2.0rem;
}

#row2 {
    display:flex; 
    align-items:center; 
    justify-content:flex-start; 
    width:100%; 
    height:50px; 
    background: transparent linear-gradient(270deg, #0E47CB 0%, #082B7A 100%) 0% 0% no-repeat padding-box;
}